@import '~bootstrap/scss/bootstrap';
@import "@fortawesome/fontawesome-free/css/all.css";
@import '_partials/header';
@import '_partials/footer';
@import '_partials/dashboard';
#app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.background_color {
    background: rgb(0, 90, 151);
    background: linear-gradient(180deg, rgba(0, 90, 151, 1) 0%, rgba(43, 151, 172, 1) 100%);
}

