@import '~bootstrap/scss/bootstrap';
@import '_partials/header';
@import '_partials/footer';
@import '_partials/dashboard';
#app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.profile-img{
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.background_color {
    background: rgb(0, 90, 151);
    background: linear-gradient(180deg, rgba(0, 90, 151, 1) 0%, rgba(43, 151, 172, 1) 100%);
}

