@import '~bootstrap/scss/bootstrap';

#app{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.hov{
    &:hover {
        border-bottom: 1px solid #005a97;
    }
}
.profile-img{

    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}
