.offcanvas_box{
    position: relative;
    height: 37.5rem;
    .off_canvas{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
.profile-img{
    img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
    }
}

.btn_color{
    padding: 10px 20px;
    background-color: #005a97;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        background-color: #1094ec;
        color: #fff;
    }
}

.user_icon button{
    font-size: 1.25rem;
}
.user_icon a{
    font-size: 1.25rem;
}

