.offcanvas_box{
    position: relative;
    height: 37.5rem;
    .off_canvas{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
/* @media screen and (max-width: 767px){
    .my_test{
        position: relative;
    }
    .offcanvas_box{
        height: 18.75rem;
        width: 100vw;
        border-left: none !important;
        position: absolute;
        top: 0;
        left: 0;
    }
} */

.btn_color{
    padding: 10px 20px;
    background-color: #005a97;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}