.social div {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    background-color: #005a97;
    line-height: 2.5rem;
}
ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #98a1ab;
    padding: 5px 10px;
    border-radius: 10px;
    &:hover{
        background-color: rgba(0, 50, 200, 0.1);
    }
}

ul {
    list-style: none;
    padding-left: 0;
}
h5 {
    cursor: pointer;
    color: #005a97;
}
h6{
    color: #98a1ab;
}
a {
    text-decoration: none;
    font-size: 12px;
    color: #98a1ab;
}
a:hover{
    color:  #005a97;
}

.logo {
    height: 50px;
    width: 200px;
}

.icons{
    color: #fff;
    font-size: 2.25rem;
    &:hover{
        color: #fff;
    }
}
