.header{
    box-shadow: rgba(37, 127, 236, 0.8) -1px 0px 20px -1px inset;
    img{
        width: 9.375rem;
    }
    .navbar-nav li a{
        margin-top: .625rem;
        &:hover{
            background-color: #94c3e2;
            color: #fff;
        }
    }
}
